.page {
    font-family: var(--font-title);
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: var(--background);
    position: relative;
    padding-bottom: 340px;
}

.wrapper {
    margin: 2rem;
    display: grid;
    gap: 1.2rem;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 18rem));
    justify-content: center;
    transition: all 0.5% ease;
}